.calendar {
  border-bottom: 1px solid #e5e5e5;
}

.calendar-column {
  border-right: 1px solid #e5e5e5;
}

.calendar-column:last-child {
  border-right: none;
}

.calendar-column-title {
  font-weight: 600;
  padding: 8px;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
}

.calendar-shift-active {
  display: inline-block;
  background-color: blue;
  position: absolute;
}

.calendar-cells {
  position: relative;
  z-index: -1;
  width: 90%;
  left: 10%;
}

.calendar-row {
  height: 20px;
}

.calendar-row-header {
  border-right: 1px solid #e5e5e5;
  background-color: rgba( 255, 255, 255, 0.9 );
  box-sizing: border-box;
  position: fixed;
  width: 10%;
}
